<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>File Upload Error!</title>
<link rel="stylesheet" th:href="@{/resources/app/css/styles.css}">
</head>
<body>
    <div id="wrapper">
        <h1>File Upload Error!</h1>
        <div class="error">
            <span th:text="${#strings.isEmpty(exceptionCode)} ? #{e.sl.fw.6001} : |[${exceptionCode}] #{e.sl.fw.6001}|">[e.sl.fw.6001]
                File Upload Error!</span>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
</html>