<!DOCTYPE html>
<html class="no-js" th:fragment="layout (title,body)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width" name="viewport"/>

    <div id="libraries" th:replace="~{/layout/libraries :: libraries}"></div>

    <title th:replace="${title}">secure-login</title>
</head>
<body class="layout-top-nav layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <div id="header" th:replace="~{layout/header :: header}"></div>
    <div class="content-wrapper">
        <div id="body" th:replace="${body}"></div>
    </div>
</div>

<!--/* デバッグ用コード  */-->
<br>
<br>
<br>
<details>
    <summary>Session</summary>
    <table>
        <tbody>
        <tr th:each="result : ${#session.getAttributeNames()}">
            <td th:text="${result}"></td>
            <td th:text="${#session.getAttribute(result)}"></td>
        </tr>
        </tbody>
    </table>
</details>
<details>
    <summary>Request</summary>
    <table>
        <tbody>
        <tr th:each="result : ${#request.getAttributeNames()}">
            <td th:text="${result}"></td>
            <td th:text="${#request.getAttribute(result)}"></td>
        </tr>
        </tbody>
    </table>
</details>
<details>
    <summary>Application</summary>
    <table>
        <tbody>
        <tr th:each="result : ${#servletContext.getAttributeNames()}">
            <td th:text="${result}"></td>
            <td th:text="${#servletContext.getAttribute(result)}"></td>
        </tr>
        </tbody>
    </table>
</details>

</body>
</html>