<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>Reset Password</title>
<link rel="stylesheet" th:href="@{/resources/app/css/styles.css}">
</head>
<body>
    <div id="wrapper">
        <h1>Reset Password</h1>
        <div th:if="${resultMessages} != null" id="expiredMessage"
            th:class="|alert alert-${resultMessages.type}|">
            <ul>
                <li th:each="message : ${resultMessages}"
                    th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} : ${message.text}"></li>
            </ul>
        </div>
        <form th:action="@{/reissue/resetpassword}"
            method="POST" th:object="${passwordResetForm}">
            <input type="hidden" th:field="*{token}"/>
            <table>
                <tr>
                    <th><label for="username">Username</label></th>
                    <td th:text="*{username}">
                    </td>
                    <td><input type="hidden" th:field="*{username}"/></td>
                </tr>
                <tr>
                    <th><label for="secret" name="secret" th:errorclass="error-label">Secret</label>
                    </th>
                    <td><input type="password" th:field="*{secret}" th:errorclass="error-input"/></td>
                    <td th:errors="*{secret}" class="error-messages" /></td>
                </tr>
                <tr>
                    <th><label for="newPassword" name="newPassword" th:errorclass="error-label">New password</label>
                    </th>
                    <td><input type="password" th:field="*{newPassword}"
                            th:errorclass="error-input" /></td>
                    <td th:errors="*{newPassword}" class="error-messages"/></td>
                </tr>
                <tr>
                    <th><label for="confirmNewPassword" name="confirmNewPassword"
                            th:errorclass="error-label">New password(Confirm)</label></th>
                    <td><input type="password" th:field="*{confirmNewPassword}"
                            th:errorclass="error-input" /></td>
                    <td th:errors="*{confirmNewPassword}" class="error-messages"/></td>
                </tr>
            </table>
            <input id="submit" type="submit" value="Reset password" />
        </form>
    </div>
</body>
</html>