<!DOCTYPE html>
<html th:replace="~{/layout/template :: layout(~{::title},~{::body/content()})}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>パスワードリセット</title>
</head>
<body>
<section class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-18">
                <!-- ページタイトルを記入 -->
                <h3>パスワードリセット</h3>
            </div>
            <div class="col-18">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">

        <div id="expiredMessage" th:class="|callout callout-${resultMessages.type}|"
             th:if="${resultMessages} != null">
            <ul>
                <li th:each="message : ${resultMessages}"
                    th:utext="${#messages.msgWithParams(message.code, message.args)}"></li>
            </ul>
        </div>
        <!-- ここより下にメインコンテンツを記入 -->
        <form method="POST"
              th:action="@{/reissue/resetpassword}" th:object="${passwordResetForm}">
            <input th:field="*{token}" type="hidden"/>

            <div class="form-group row">
                <label class="col-5 col-form-label" for="username" name="username">ユーザ名 *</label>
                <div class="col-10">
                    <span th:text="*{username}"></span>
                    <input type="hidden" name="username" th:value="*{username}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label" for="secret" name="secret">暗証番号 *</label>
                <div class="col-10">
                    <input class="form-control" errorclass="is-invalid" th:field="*{secret}" type="password"/>
                    <span class="invalid-feedback" th:errors="*{secret}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label" for="newPassword" name="newPassword">新しいパスワード *</label>
                <div class="col-10">
                    <input class="form-control" errorclass="is-invalid" th:field="*{newPassword}" type="password"/>
                    <span class="invalid-feedback" th:errors="*{newPassword}"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirmNewPassword" name="confirmNewPassword" class="col-5 col-form-label">新しいパスワード(確認)
                    *</label>
                <div class="col-10">
                    <input class="form-control" errorclass="is-invalid" th:field="*{confirmNewPassword}"
                           type="password"/>
                    <span class="invalid-feedback" th:errors="*{confirmNewPassword}"></span>
                </div>
            </div>
            <br>

            <input class="btn-button" id="submit" type="submit" value="登録"/>
        </form>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>
</body>
</html>
